__pycache__
node_modules/
build*/
compile_commands.json
.cache/
.ccache/
.idea/
.vscode/*
!.vscode/c_cpp_properties.json
!.vscode/settings.json
.cores/
cmake-build-*
Testing/
.DS_Store
Makefile.local
CMakeUserPresets.json
.env
.env.*
!.env.example
